body {
    font-family: Tahoma, sans-serif;
}

.container {
    margin: 0 auto;
    width: 700px;
    background-color:gray;
}

.header {
}
.header__item {
    display: flex;
    justify-content: space-between;
}
.wriper {
}
.header__box {
    width: 150px;
    height: 150px;
    // background-color: red;
}